body {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/bg.jpg') no-repeat center fixed;
	background-size: cover;
}

.transparent-heading {
	width: 400px;
	background-color: rgba(255, 255, 255, 0.15);
	color: #FFF;
	padding: 10px;
	text-align: center;
	margin: 100px auto 0px auto;
}

.my-form {
	width: 400px;
	background-color: rgba(255, 255, 255, 0.3);
	color: #FFF;
	padding: 15px;
	margin: 0 auto;
}

.my-form a,
.my-form a:hover {
	color: #FFF;
	text-decoration: none;
}

.error {
	color: #AA0000;
	text-shadow: 1px 1px 1px #fff;
}

.navbar-default {
	background-image: none;
	background: rgba(0, 0, 0, 0.4);
	border-color: transparent;
}

.navbar-default .navbar-brand, 
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: #FFF;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
	background-image: none;
	background-color: rgba(0, 0, 0, 0.4);
	color: #FFF;
}

.dropdown-menu {
	background-color: rgba(255, 255, 255, 0.2);
}

.dropdown-menu>li>a {
	color: #FFF;
}

.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover {
	background-image: none;
	background-color: rgba(255, 255, 255, 0.3);
	color: #FFF;
}

.mr-xl {
	margin-right: 50px;
}

.mt-md {
	margin-top: 30px;
}

#description {
	resize: none;
	height: 200px;
}

.decisions > h4 {
	width: 60%;
	background-color: rgba(255, 255, 255, 0.15);
	color: #FFF;
	padding: 15px;
	text-align: center;
	margin: 30px auto 0px auto;
}
.decisions > article {
	width: 60%;
	background-color: rgba(255, 255, 255, 0.3);
	color: #FFF;
	padding: 15px;
	margin: 0 auto;
}

.decisions > footer {
	width: 60%;
	background-color: rgba(255, 255, 255, 0.15);
	color: #FFF;
	padding: 10px;
	margin: 0 auto;
}
